/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+SC:wght@500&family=Dancing+Script:wght@400;600&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 90%;
    
}


a {
    text-decoration: none;
}

#home {
    width: 100%;
    height: 100vh;
    /* background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%); */
  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.0rem 10.0rem;
    background-image: url(gggrain\ \(1\).svg);

}

.logo {
    max-height: 6.0rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 1.0rem 2.0rem;
    font-size: 1.9rem;
}

nav ul li a {
    color: #f9f9fb;
    position: relative;
    padding: .5rem 0;
}

nav ul li a:hover {
    color: #fd4766;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: .3rem;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}


.glow-on-hover {
    padding: 0.7rem;
    width: 22rem;
    height: 5rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: .2rem;
    font-size: 1.5rem;


}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + .4rem);
    height: calc(100% + .4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1.0rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 1.0rem;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.contentt {
    position: absolute;
    top: 35%;
    left: 8%;
    display: flex;
    justify-content: space-evenly;
}

.typewrite{
    color: #000;
    font-size: 3.0rem;
    font-family:Hastna;
}

.hello{
    text-align: center;

}

.contentt h2{
    font-size: 1.6rem;
    font-family:AlphaCentauri;
}




.contentt h1 {
    color: #e3c8cc;
    font-size: 7.5rem;
    font-weight: 900;
    line-height: 9.0rem;
    text-transform: inherit;
    width: 70%;

    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 4.0rem;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.contentt p {
    width: 55%;
    color: #14022f;
    margin-top: 2.5rem;
    margin-bottom: 3.0rem;
    font-size: 1.5rem;
}


.text-center {

    text-align: center;
    font-size: 2rem;
    font-family: AlphaCentauri;
}

#about {
    /* background-color: #e3d2c4;
    background-image: linear-gradient(315deg, #b8c6db 0%, #fcfcfb 74%); */
    background-image: url(wave_background.svg);
color: #fafcfc;


}

.co{
    color: #f7f9f9;
    font-family: AlphaCentauri;
}


.aboutinfo {
    padding-left: 4.0rem;
    font-family: 'Dancing Script', cursive;
    font-size: 4.0rem;
}

.imageAboutPage {
    border-radius: 2.0rem;

}

.mainlist{
    list-style-image: url(nnneon.svg);
    list-style-position: outside;
}

.list2{
    list-style-image: url(tttwinkle.svg);
    list-style-position: outside;
  padding: 0;
  /* border-left: solid 2px red; */
}

.mainlist span{
    color: #00ffd5;
    font-size: 4.5rem;
}



#projects {
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%); */
    background-image: url(llleaves.svg);
    height: max-content;
}

.socialbutn {
    display: flex;
    justify-content: space-evenly;

    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.socialbutn span {
    font-size: 1.5rem;
}

#sbutn1 {
    /* margin-top: 10px; */
    padding-right: 1.0rem;
    transform: scale(3);
}


#sbutn2 {
    padding-left: 1.0rem;
    transform: scale(3);
}

#sbutn3 {
    padding-left: 2.0rem;
    transform: scale(3);
}

.aboutinfo span {
    font-family: 'Cinzel', serif;
}

.container {
    position: relative;
    width: 80.0rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3.0rem;
}

.container .card {
    position: relative;
    max-width: 30.0rem;
    height: 21.5rem;
    background-color: #fff;
    margin: 3.0rem 1.0rem;
    padding: 2.0rem 1.5rem;

    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 2.0rem rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 1.5rem;
}

.container .card:hover {
    height: 32.0rem;
}


.container .card .image {
    position: relative;
    width: 26.0rem;
    height: 26.0rem;

    top: -40%;
    left: .8rem;
    box-shadow: 0 .5rem 2.0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .card .image img {
    max-width: 100%;
    border-radius: 1.5rem;
}

.container .card .content {
    position: relative;
    top: -14.0rem;
    padding: 1.0rem 1.5rem;
    color: #111;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container .card:hover .content {
    margin-top: 3.0rem;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;

}

.card-title {
    font-size: 1.9rem;

}

.card-text {
    font-size: 1.3rem;
}

.head {
    font-size: 2rem;
    font-family: AlphaCentauri;
}










@media only screen and (max-width:1280px) {
    html {
        font-size: 65%;
    }
}


@media only screen and (max-width:980px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:780px) {
    html {
        font-size: 50%;
    }

    #home {
        height: 85vh;
    }
}

@media only screen and (max-width:480px) {
    html {
        font-size: 40%;
    }

    #home {
        height: 75vh;
    }

    .myphoto {
        display: none;

    }

    .imageAboutPage {
        display: none;
    }
}